node_modules
npm-debug.log
.git
.gitignore
.dockerignore
Dockerfile
.env
.env.*
.data
.docker
README.md
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
vendor
composer.lock
bootstrap/cache/*
